<p style="color: green"><%= notice %></p>

<h1>Cities</h1>

<%= link_to "New city", new_city_path, class: "btn btn-secondary" %>

<div id="cities">

  <%#= render city %>

  <table class="table table-striped table table-hover table-bordered">
    <thead>
    <tr>
      <th scope="col" class="table-dark">ID</th>
      <th scope="col" class="table-dark">Name</th>
      <th scope="col" class="table-dark">Region</th>
      <th scope="col" class="table-dark">Action</th>
    </tr>
    </thead>
    <tbody>
    <% @cities.each do |city| %>
      <tr>
        <td><%= city.id %></td>
        <td><%= city.name %></td>
        <td><%= city.region.name %></td>
        <td><%= link_to "Show this city", city, class: "link-info link-underline-opacity-0" %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

</div>


