<p style="color: green"><%= notice %></p>

<%#= render @city %>

<div class="jumbotron">
  <hr class="my-4">

  <h1 class="display-4"><%= @city.name %></h1>
  <p class="lead">City</p>

  <hr class="my-4">

  <h2><%= @city.region_id %></h2>
  <p class="lead">Region ID</p>

  <hr class="my-4">

  <p>Available actions:</p>
  <%= link_to "Edit this city", edit_city_path(@city),  class: "btn btn-secondary" %>
  <br>
  <br>
  <%= button_to "Destroy this city", @city, method: :delete, class: "btn btn-danger" %>

  <hr class="my-4">

  <p>Toubrbases of City:</p>
  <% @camps.each do |camp| %>
    <p><%= link_to camp.name, camp, class: "link-info link-underline-opacity-0" %></p>
  <% end %>

  <hr class="my-4">
</div>

<%= link_to "Back to cities", cities_path, class: "btn btn-dark" %>
