<h1>Editing region</h1>

<%= render "form", region: @region %>

<br>

<p>Country ID / Country Name</p>
<% @countries.each do |country| %>
  <p><%= country.id %> / <%= country.name %></p>
<% end %>

<div>
  <%= link_to "Show this region", @region, class: "btn btn-secondary"%>
  <%= link_to "Back to regions", regions_path, class: "btn btn-dark"%>
</div>
